<div class="footer">
    <h3>Follow me</h3>
    <a href="https://www.linkedin.com/in/md-shahzar-37bb50234" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <h4>Keep visiting to Shahzar's World</h4>
</div>