<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/headerlinks") %>
</head>

<body>
    <%- include("./partials/navbar") %>
    <div class="container mx-auto details">
        <img src="/images/error.jpg" alt="Error 404" width="200px" height="200px">
        <div class="info">
            <h1>Page Not Found</h1>
            <div class="about-me">
                <p>Go Back to the Shahzar World</p>
            </div>
            <a href="/"><button class="resume">Go Back</button></a>
        </div>
    </div>
    <%- include("./partials/footer") %>
</body>

</html>