<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/headerlinks") %>
</head>

<body>
    <%- include("./partials/navbar") %>
    <div class="container mx-auto details">
        <img src="/images/Shahzarme.jpg" alt="Shahzar photo" width="200px" height="200px">
        <div class="info">
            <h1>Md Shahzar</h1>
            <h3>Full Stack Web Developer</h3>
            <div class="about-me">
                <p>I am a Software Developer enthusiast and a dedicated coder. I am always ready to learn new things
                    and apply my skills for the growth of individual as well as company for which I will work for.
                </p>
            </div>
            <a href="https://docs.google.com/document/d/1Kq0DgiOTpBQz0XZeERVT4mV4mJ3cdIrvzRxTKlo67kw/edit?usp=sharing"
                target="_blank"><button class="resume">Go to Resume</button></a>
        </div>
    </div>
    <%- include("./partials/footer") %>
</body>

</html>